<%= render 'genre', {items: @items, item: @item} %>

<h2>
ようこそ、長野CAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</h2>

<h1>新着商品</h1>
#4つ
<% @items.each do |item| %>

<%= item.image %>
<%= item.name %>
<%= item.price %>

<% end %>

